extends layout

block content
  .page
    nav
      span logo
    main
      h1= title
      p Welcome to #{title}
      #promo
        .promo-title Wanna sign up? All the fluffy friends are waiting for you :)
        button.answer.answer-yes Yes!
        button.answer.answer-no No?

